<div class="article now col col-4 col-d-4 col-t-12">
  <a href="{{news.url | prepend: site.baseurl}}" target="_blank">
    <div class="article__inner">

      <div class="article__content">

        <h2 class="article__title">
          <span href="">{{ news.title }}</span>
        </h2>

        <p class="article__excerpt">{% if news.description %}{{ news.description }}{% else %}{{ news.content | strip_html | truncate: 80 }}{% endif %}</p>

        {% if news.cta %}
        <a class="button button--outline" href="{{news.url | prepend: site.baseurl}}" target="_blank" style="margin-top: 16px;">{{ news.cta }}</a>{% endif %}</a>

      </div>
    </div>
  </a>
</div>