<div class="container">
  <div class="row">
    <div class="col col-12">
      <section class="banner outline">

        <div class="col-2 col-t-4 col-m-4 col-d-3 avatar">
          <img src="/images/avatar_no-bg.png" />
        </div>

        <div class="banner__head">
          <h2 class="banner__title">Let's do cool stuff together</h2>
          <p class="banner__subtitle">Schedule a 30 min call in <a href="https://calendly.com/ivoriginal">my Calendly</a> to discuss your project</p>
        </div>
        <a href="https://calendly.com/ivoriginal" target="_blank" class="button button--primary" name="subscribe">Go to Calendly</a>
      </section>
    </div>
  </div>
</div>