<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row" style="margin-bottom: -40px;">
      <div class="col col-8 col-d-12 align-self-center">
        <div class="hero__inner">
          <h1 class="home__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
        </div>
      </div>
      <div class="col col-4 col-t-6 col-m-8 avatar">
        <img src="/images/avatar_no-bg.png" />
      </div>
    </div>
    <a href="mailto:ivo@commitsans.com" class="button button--primary subscribe__button" id="membedded-subscribe" name="subscribe">Get in touch</a>
  </div>
</section>
<!-- end hero -->