<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-7 col-m-12 col-d-7 align-self-center flex-column">
        <div class="hero__inner flex-column mb-lg-2">
          <h1 class="home__title mb-lg-1">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
        </div>
        <div>
          <a href="mailto:ivo@commitsans.com" class="button button--primary subscribe__button mr-lg-1" id="membedded-subscribe" name="subscribe">Make a proposal</a>
          <a href="mailto:ivo@commitsans.com" class="button button--outline subscribe__button" id="membedded-subscribe" name="subscribe">Join the network</a>
        </div>
      </div>
      <div class="col col-5 col-t-6 col-m-8 avatar">
        <img src="/images/about/01.jpg" />
      </div>
    </div>
    <hr>
  </div>
</section>
<!-- end hero -->