/* Subscribe */
.subscribe {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 136px 68px;
  border-radius: 16px;
  overflow: hidden;
  background: var(--background-alt-color);

  @media only screen and (max-width: 1140px) {
    padding: 136px 48px;
  }

  @media only screen and (max-width: $desktop) {
    padding: 96px 48px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 80px 40px;
  }
}

.subscribe__head {
  max-width: 360px;

  .subscribe__title {
    margin-bottom: 0;
    font-size: 32px;
  }

  @media only screen and (max-width: $desktop) {
    max-width: 100%;

    .subscribe__title {
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: $mobile) {
    .subscribe__title {
      font-size: 26px;
    }
  }
}

.subscribe__inner {
  max-width: 460px;
  width: 100%;

  @media only screen and (max-width: $desktop) {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.subscribe__form {
  display: flex;
  align-items: center;

  @media only screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.subscribe__email {
  position: relative;
  width: 100%;
  height: 58px;
  padding: 20px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 1;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: text;
  color: var(--heading-font-color);
  background: var(--background-color);
  transition: border-color .15s;

  &::placeholder {
    color: var(--text-alt-color);
  }

  @media only screen and (max-width: $mobile) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.subscribe__button {
  @media only screen and (max-width: $mobile) {
    width: 100%;
  }
}

.subscribe__email,
.subscribe__button {
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, .07);
}

.subscribe__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;

  @media only screen and (max-width: $desktop) {
    height: 80px;
  }

  @media only screen and (max-width: $mobile) {
    height: 100px;
  }
}

// Banner
.banner {
  display: flex;
  background-color: var(--light-gray);
  margin-bottom: 32px;
  border-radius: 8px;
  padding: 16px 24px;
  background-color: white;

  @media only screen and (min-width: $tablet) and (max-width: $desktop) {
    padding: 16px 80px;
  }

  @media only screen and (max-width: $desktop) {
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;

    .avatar {
      margin-bottom: -16px;
    }
  }
}

.banner__head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;

  @media (min-width: $desktop) {
    margin-left: 8px;
  }
}

.banner__title {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 8px;
}

.banner__subtitle {
  font-size: 1.4rem;
}

.banner .button {
  text-align: center;
  align-self: center;

  @media (min-width: $desktop) {
    width: 300px;
  }

  @media (max-width: $desktop) {
    margin-top: 24px;
  }
}

.article-card {
  display: flex;
  background-color: var(--light-gray);
  margin-bottom: 32px;
  border-radius: 8px;
  padding: $base-spacing-unit * 1.5;
  align-items: center;
  background-color: white;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    padding: 0;
  }

  .article-card__head {
    // padding: $base-spacing-unit;

    @media (max-width: $mobile) {
      padding: $base-spacing-unit;
    }

  }

  .banner__title {
    font-size: $base-font-size * 1.250 * 1.250;
  }

  .banner__subtitle {
    margin: 0;
  }

  img {
    // border-radius: 0 8px 8px 0 !important;
    border-radius: 0 !important;

    @media (max-width: $mobile) {
      border-radius: 8px 8px 0 0 !important;
    }
  }

}