*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size * 1.250;
  line-height: $base-line-height;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: var(--light-gray);

  // @media only screen and (min-width: $desktop) {
  //   font-size: $base-font-size;
  // }

}

*::selection {
  color: var(--white);
  background-color: var(--brand-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  color: var(--heading-font-color);
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  position: relative;
  margin: 40px 0;
  padding-left: 26px;
  font-size: $base-font-size * 1.250 * 1.250;
  line-height: 1.7;
  font-weight: 500;
  border-left: 4px solid var(--heading-font-color);
  color: var(--heading-font-color);

  p {
    margin-bottom: 10px;
  }

  cite {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: var(--heading-font-color);

  }

  // @media only screen and (max-width: $mobile) {
  //   font-size: 21px;
  // }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--heading-font-color);
}

img,
.lightense-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img,
.lightense-wrap,
.gallery {
  &+em {
    display: block;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: var(--heading-font-color);
  
    a {
      font-weight: 500;
      border-bottom: 1px solid var(--border-color);
      transition: $global-transition;

      &:hover {
        color: var(--link-color);
        border-color: var(--link-color-hover);
      }
    }
  
    // @media only screen and (max-width: $mobile) {
    //   margin-top: 12px;
    // }
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: $global-transition;

  &:hover {
    color: var(--link-color-hover);
  }
}

hr {
  width: 100%;
  height: 1px;
  // margin: 60px 0;
  border: 0;
  // background: var(--background-alt-color);
  background: var(--dark-gray);
}

.table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  font-size: 12px;
  color: var(--dark);
  width: 100%;
  border-width: 1px;
  border-color: var(--background-alt-color);
  border-collapse: collapse;
  color: var(--heading-font-color);
}

table th {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: 1px solid var(--th-color);
  color: var(--heading-font-color);
  font-weight: 700;
  background-color: var(--th-color);
}

table tr {
  background-color: var(--tr-color);
  transition: all .3s ease;
  &:nth-child(even) {
    background-color: transparent;
  }
}

table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--background-alt-color);
}

.button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .25s;
  color: var(--heading-font-color);
  background: var(--background-alt-color);

  &--primary {
    color: var(--dark);
    background-color: var(--button-background-color);

    &:hover {
      background: var(--button-background-hover);
      // outline: 2px solid var(--medium-gray);
    }
  }

  &--secondary {

  }

  &--outline {
    // padding: 8px 12px;
    border: 1px solid var(--white);
    background-color: transparent;
  }

}

// 
.header .button {
  padding: 8px 12px;
}

// 
.now .button {
  &--outline {
    border: 1px solid var(--gray);
  }
}

.article__content .button {
  width: 100%;
  text-align: center;
  margin-top: 16px;
}

.lazy {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lazy.loaded {
  opacity: 1;
}

.lightense-backdrop {
  background-color: var(--background-alt-color) !important;
}

// helpers
.align-self-center {
  align-self: center;
}

.margin-top {
  padding-top: 72px;
}

.margin-bottom {
  margin-bottom: 56px;
}

body {
  @media only screen and (max-width: $tablet) {
    padding-bottom: 56px;
  }
}

.background-gray {
  // background-color: var(--light-gray);
  background: rgb(34,34,34);
  background: -moz-linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222",endColorstr="#000000",GradientType=1);  
}

.outline {
  border: 1px solid var(--medium-gray);
}

// lo del avatar del blog
// .blog .section__info {
//   justify-content: space-between;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
// }

p {
  line-height: 1.2;
}

// page subtitle
.page p {
  line-height: 1.4;
  // font-size: $base-font-size * 1.250;
  margin: $base-spacing-unit 0;

  img {
    margin: 16px 0;
  }

}

.page h4 {
  margin-top: $base-spacing-unit * 1.5;
}

iframe {

  margin-bottom: 24px;
  height: 48vw;

  @media only screen and (min-width: 576px) and (max-width: $tablet - 1) {
    height: 43vw;
  }
  
  @media only screen and (max-width: $tablet - 1) {
    height: 52vw;
  }

  @media only screen and (width: $tablet) {
    height: 38vw;
  }

  @media only screen and (min-width: $tablet + 1) and (max-width: $desktop - 1) {
    height: 47vw;
    // height: 51vw;
  }

  @media only screen and (min-width: $desktop) and (max-width: $desktop + 3) {
    // height: 56vw;
    height: 38vw;
  }

  @media only screen and (min-width: $desktop + 3) and (max-width: 1140px) {
    // height: 56vw;
    height: 53vw;
  }

}

.white {
  background: white;
  p, li, em, h1, h2, h3, h4 {
    color: black !important;

    a {
      color: inherit;
    }

  }
}

// HELPERS
// Display
.flex, .flex-column {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.inline-block {
  display: inline-block;
}

// Padding & Margin
.mt-1 {
  margin-top: $base-spacing-unit;
}

.mt-2 {
  margin-top: $base-spacing-unit * 2;
}

.pt-1 {
  padding-top: $base-spacing-unit;
}

.pt-2 {
  padding-top: $base-spacing-unit * 2;
}

.pr-xs-0 {
  @media only screen and (max-width: $mobile) {
    padding-right: 0;
  }
}

.pr-xs-1 {
  @media only screen and (max-width: $mobile) {
    padding-right: $base-spacing-unit;
  }
}

.mr-lg-1 {
  @media only screen and (min-width: $desktop) {
    margin-right: 8px;
  }
}

.mb-lg-1 {
  @media only screen and (min-width: $desktop) {
    margin-bottom: 8px;
  }
}

.mb-lg-2 {
  @media only screen and (min-width: $desktop) {
    margin-bottom: $base-spacing-unit;
  }
}